#form-details .modal-body {
  padding: 30px;
  overflow: hidden; }
#form-details h4 {
  margin-top: 0px; }
#form-details small {
  color: grey; }
#form-details .slider {
  width: 100%; }
#form-details .slider-wrapper {
  padding: 15px;
  white-space: nowrap; }
  #form-details .slider-wrapper .icon, #form-details .slider-wrapper input, #form-details .slider-wrapper .slider {
    display: inline-block;
    vertical-align: middle; }
  #form-details .slider-wrapper .icon.small {
    font-size: 1.5rem;
    padding-right: 2rem; }
  #form-details .slider-wrapper .icon.big {
    font-size: 2.5rem;
    padding-left: 3rem; }
#form-details .wrap-up {
  text-align: center; }
  #form-details .wrap-up span {
    font-size: 120%; }
#form-details #require-cost-slider, #form-details #require-people-slider {
  width: 80%; }

#dropzone.hover .body {
  box-shadow: inset 0px 0px 220px 0px rgba(0, 0, 0, 0.75); }

#dropzone {
  position: relative; }
  #dropzone .dz-preview {
    display: none; }
  #dropzone .body {
    position: relative;
    box-shadow: inset 0px 0px 150px 0px rgba(0, 0, 0, 0.44);
    -webkit-transition: box-shadow 0.35s ease; }
    #dropzone .body .container {
      padding: 60px 0px; }
    #dropzone .body .empty-shirt {
      position: relative;
      margin: 0px auto;
      width: 550px; }
      #dropzone .body .empty-shirt .filler-wrapper {
        width: 100%;
        position: absolute;
        top: 25%;
        text-align: center; }
      #dropzone .body .empty-shirt .filler {
        width: 30%;
        display: none; }
      #dropzone .body .empty-shirt img {
        width: 100%; }

#design-wrapper .header {
  background-color: #272d47;
  clear: both; }
  #design-wrapper .header .title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 5rem;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
    padding: 30px 0px;
    margin: 0px; }
  #design-wrapper .header .actions {
    float: right;
    text-align: right;
    padding: 45px 0px 20px 0px; }
    #design-wrapper .header .actions button {
      margin: 0px 7.5px;
      border-radius: 2rem;
      border: 0px;
      font-weight: bold;
      font-size: 1.5rem;
      letter-spacing: 0.35px;
      color: white; }
      #design-wrapper .header .actions button i {
        padding-right: 2px; }
    #design-wrapper .header .actions .finish.btn:hover {
      background-color: #37d279; }
    #design-wrapper .header .actions .finish.btn {
      background-color: #2ecc71;
      box-shadow: 0px 3px 0px 0px #25a25a; }
    #design-wrapper .header .actions .cancel.btn:hover {
      background-color: #e9594a; }
    #design-wrapper .header .actions .cancel.btn {
      background-color: #e74c3c;
      box-shadow: 0px 3px 0px 0px #d62c1a; }
