#join-wrapper .shirt-image {
  padding-top: 2rem; }
  #join-wrapper .shirt-image img {
    padding: 0px; }
  #join-wrapper .shirt-image .inner {
    position: relative;
    width: 100%; }
  #join-wrapper .shirt-image .shirt-template {
    width: 100%; }
  #join-wrapper .shirt-image .filler-wrapper {
    width: 100%;
    position: absolute;
    top: 25%;
    text-align: center; }
  #join-wrapper .shirt-image .filler {
    width: 30%;
    box-shadow: none; }
