{% load staticfiles %}
{% include "template.head.html" %}
{% include "template.nav.html" %}
{% include "template.search.html" %}

<div id="catalog-wrapper" class="animated fadeIn">
  <div class="container boxContent">
    <div class="row">
      <div class="col-sm-12">
        <h1>
          <span>ALL SHIRTS</span>
          <div class="filters">
            <form id="filter-form" action="./">
              <select id="shirt-type-filter" class="filter" name="shirt_type" data-header="ประเภทเสื้อ">
                <option value="waiting">ร่วมกันซื้อ</option>
                <option value="on_shelf">พร้อมขาย</option>
                <option value="both">ทั้งคู่</option>
              </select>
              <select id="attribute-filter" class="filter" name="attribute" data-header="คุณสมับติ">
                <option value="name">ชื่อ</option>
                <option value="likes">จำนวน Likes</option>
                <option value="comments">จำนวน Comment</option>
                <option value="price">ราคา</option>
              </select>
              <select id="sort-filter" class="filter" name="sort" data-header="เรียงลำดับ">
                <option value="ZtoA">มากไปน้อย</option>
                <option value="AtoZ">น้อยไปมาก</option>
              </select>
            </form>
          </div>

          <script type="text/javascript">
            var filters = {
              shirt_type: '{{filters.shirt_type}}',
              attribute: '{{filters.attribute}}',
              sort: '{{filters.sort}}',
            };

            console.log('filters', filters);

            $('.filter').selectpicker({
              style: 'btn-default',
              size: 4,
            }).change(function () {
              $('#filter-form').submit();
            });

            // set defaults
            $('#shirt-type-filter').val(filters.shirt_type);
            $('#attribute-filter').val(filters.attribute);
            $('#sort-filter').val(filters.sort);
            $('.filter').selectpicker('render');
          </script>
        </h1>
      </div>
    </div>
    <div class="row">

      {% for shirt in all_shirts %}
        <div class="each-shirt-wrapper col-sm-3">
          <div class="each-shirt-inner">
            <div class="flag">
              {% if shirt.is_on_shelf %}
                <span>พร้อมขาย</span>
              {% else %}
                <span>กำลังระดมทุน</span>
              {% endif %}
            </div>

            <div class="shirt-image">
              <img src="{% static 'img/shirt.png' %}">
            </div>

            <div class="content">
              <h4 class="title">
              	{% if shirt.is_on_shelf %}
	                <a href="/buy/{{shirt.id}}">
	                	<span class="nl">{{shirt.name}}</span>
	                </a>
	            {% else %}
	            	<a href="/join/{{shirt.id}}">
	                	<span class="nl">{{shirt.name}}</span>
	                </a>
	            {% endif %}
              </h4>
              <p class="description">
                {{shirt.description}}
              </p>
              <div class="status row">

                {% if shirt.is_on_shelf %}
                  <div class="price col-xs-12">
                    <i class="glyphicon glyphicon-bitcoin"></i>
                    <span>{{shirt.price}}</span>
                  </div>
                {% else %}
                  <div class="people col-xs-6">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>{{shirt.current_amount}}/{{shirt.waiting_id.require_amount}}</span>
                  </div>
                  <div class="price col-xs-6">
                    <i class="glyphicon glyphicon-bitcoin"></i>
                    <span>{{shirt.price}}</span>
                  </div>
                  <div class="calendar col-xs-12">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span>{{shirt.waiting_id.require_date}}</span>
                  </div>
                {% endif %}

              </div>
            </div>

            <div class="action">
              {% if shirt.is_on_shelf %}
                <a href="/buy/{{shirt.id}}">
                  <button class="btn-primary btn">
                    เข้าชม
                  </button>
                </a>
              {% else %}
                <a href="/join/{{shirt.id}}">
                  <button class="btn-primary btn">
                    เข้าชม
                  </button>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    </div>
</div>

{% include "template.foot.html" %}
