{% load staticfiles %}
{% include "template.head.html" %}
{% include "template.nav.html" %}

<form id="dropzone">
{% csrf_token %}

<div id="design-wrapper" class="animated fadeIn">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <div class="actions">
            <button class="cancel btn btn-default" type="button" onclick="window.history.back()">
              <i class="glyphicon glyphicon-remove"></i>
              Cancel
            </button>
            <button class="finish btn btn-primary" data-toggle="modal" data-target="#form-details" type="button">
              <i class="glyphicon glyphicon-ok"></i>
              Done!
            </button>
          </div>

          <h1 class="title">Design a new shirt</h1>



        </div>
      </div>
    </div>
  </div>


  <div class="body">
    <div class="container">
      <div class="empty-shirt">
        <img src="{% static "img/shirt_template.png" %}">
        <img class="filler">
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="form-details" tabindex="-1" role="dialog" aria-labelledby="form-details-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="form-details-label">
          Before this awesome shirt gets public ...
        </h4>
      </div>
      <div class="modal-body">
        <h4>Shirt Details</h4>
        <div class="form-group">
          <label>Name this shirt</label>
          <input name="name" type="text" class="form-control" placeholder="Name ...">
        </div>
        <div class="form-group">
          <label>
            Put some descriptions
            <br>
            <small>We found that using precise and sufficient text would help shirts can be found easier </small>
          </label>
          <input name="description" type="text" class="form-control" placeholder="Description ...">
        </div>
        <div class="form-group">
          <label>
            How many colors in this shirt ?
            <br>
            <small>Be honest .. for your interests</small>
          </label>
          <div class="slider-wrapper">
            <input
              id="color-num"
              name="color_num"
              class="slider"
              type="text"
              data-slider-id="color-num-slider"
              data-slider-min="1"
              data-slider-max="15"
              data-slider-step="1"
              data-slider-value="1">
          </div>
        </div>

        <h4>Crowd funding details</h4>
        <div class="form-group">
          <label>
            How many days want to wait ?
            <br>
            <small>Please do note that the shorter the risker, but too long is not interesting</small>
          </label>
          <div class="slider-wrapper">
            <input
              id="require-days"
              name="require_days"
              class="slider"
              type="text"
              data-slider-id="require-days-slider"
              data-slider-min="1"
              data-slider-max="30"
              data-slider-step="1"
              data-slider-value="7">
          </div>
        </div>
        <div class="form-group">
          <label>
            At which cost you wanna buy ?
            <br>
            <small>The lower the cost, the more people you need</small>
          </label>
          <div class="slider-wrapper">
            <div class="icon left small">
              <i class="glyphicon glyphicon-bitcoin"></i>
            </div>
            <input
              id="require-cost"
              class="slider"
              type="text"
              data-slider-id="require-cost-slider"
              data-slider-step="1">
            <div class="icon right big">
              <i class="glyphicon glyphicon-bitcoin"></i>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>
            How many buyers you expected ?
            <br>
            <small>The more the buyers, the lower the cost</small>
          </label>
          <div class="slider-wrapper">
            <div class="icon left small">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <input
              id="require-people"
              name="require_amount"
              class="slider"
              type="text"
              data-slider-id="require-people-slider"
              data-slider-step="1">
            <div class="icon right big">
              <i class="glyphicon glyphicon-user"></i>
            </div>
          </div>
        </div>

        <div class="wrap-up row">
          <div class="col-sm-6">
            <h1>
              <i class="glyphicon glyphicon-bitcoin"></i>
              <span id="require-cost-text"></span>
              <span> Baht</span>
            </h1>
          </div>
          <div class="col-sm-6">
            <h1>
              <i class="glyphicon glyphicon-user"></i>
              <span id="require-people-text"></span>
              <span> People</span>
            </h1>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">กลับไปแก้ไข</button>
        <button type="submit" class="btn btn-primary">เสร็จแล้ว</button>
      </div>
    </div>
  </div>
</div>

</form>

<script type="text/javascript">

var varyShirtPrice = {{costs.price_per_shirt}};
var varyPerColor = {{costs.price_per_color}};
var baseBlock = {{costs.price_base_block}};
var baseBlockPerColor = {{costs.price_base_per_color}};

var largestCrowd = 500;

function ShirtPrice (colors, people) {
  var fix = (baseBlock + baseBlockPerColor * colors);
  var vary = varyShirtPrice + varyPerColor;
  return Math.ceil(vary + fix / people);
}

function ShirtPeople (colors, price) {
  var fix = (baseBlock + baseBlockPerColor * colors);
  var vary = varyShirtPrice + varyPerColor;
  return Math.ceil(fix / (price - vary));
}

$('#form-details').on('shown.bs.modal', function () {

  var $colorNum = $('#color-num');
  var $requireCost = $('#require-cost');
  var $requirePeople = $('#require-people');

  var $requireCostText = $('#require-cost-text');
  var $requirePeopleText = $('#require-people-text');

  function initRequireCost(colors) {

    var min = ShirtPrice(colors, largestCrowd);
    var max = ShirtPrice(colors, 1);
    var start = max;

    $requireCostText.html(start);

    $requireCost.slider('destroy');
    $requireCost.slider({
      min: min,
      max: max,
      value: start,
      formatter: function (val) {
        return val + ' Baht';
      },
    })
      .on('change', function (res) {
        var val = res.value.newValue;
        $requireCostText.html(val);

        var newPeople = ShirtPeople(colors, val);
        $requirePeople.slider('setValue', newPeople)
        $requirePeopleText.html(newPeople);
      });
  }

  function initRequirePeople(colors) {
    var start = 1;
    $requirePeopleText.html(start);

    $requirePeople.slider('destroy');
    $requirePeople.slider({
      min: 1,
      max: largestCrowd,
      value: start,
      formatter: function (val) {
        return val + ' people';
      },
    })
      .on('change', function (res) {
        var val = res.value.newValue;
        $requirePeopleText.html(val);

        var newPrice = ShirtPrice(colors, val);
        $requireCost.slider('setValue', newPrice);
        $requireCostText.html(newPrice);
      });
  }

  var colorNumSlider = $colorNum.slider({
    formatter: function (val) {
      return val + ' colors';
      // return val;
    }
  })
    .on('change', function (res) {
      // update require-cost
      initRequireCost(res.value.newValue);
      initRequirePeople(res.value.newValue);
    });

  var initialColors = colorNumSlider.slider('getValue');
  initRequireCost(initialColors);
  initRequirePeople(initialColors);

  $('#require-days').slider({
    ticks: [1, 7, 14, 30],
    ticks_positions: [0, 23, 46, 100],
    ticks_labels: ['a day', 'a week', 'two weeks', 'a month'],
    ticks_snap_bounds: 0,
    formatter: function (val) {
      return val + ' days';
    },
  });

});

$('#dropzone')
  .dropzone({
    url: './',
    maxFiles: 1,
    accetpedFiles: 'image/*',
    thumbnailWidth: '400',
    thumbnailHeight: null,
    autoProcessQueue: false,
    thumbnail: function (file, data) {
      $('.filler')
        .fadeOut(350)
        .queue(function () {
          $(this).attr('src', data).dequeue();
        })
        .fadeIn(350);
    },
    init: function () {
      var self = this;

      this.element.querySelector("button[type=submit]")
        .addEventListener("click", function(e) {
          // Make sure that the form isn't actually being sent.
          e.preventDefault();
          e.stopPropagation();
          self.processQueue();
        });

      this.on('success', function (files, response) {
        console.log('sending done!');
        // redirect to profile page
        window.location.href = '../profile/';
      });
    },
  })
  .on('dragover', function () {
    $(this).addClass('hover');
  })
  .on('dragleave', function () {
    $(this).removeClass('hover');
  })
  .on('drop', function () {
    $(this).removeClass('hover');
    });
</script>

{% include "template.foot.html" %}
