{% load staticfiles %}
{% include "template.head.html" %}
{% include "template.nav.html" %}
{% include "template.search.html" %}

<div id="home-wrapper" class="animated fadeIn">
  <div class="container boxContent">
    <div class="row">
      <div class="col-sm-12">
        <h1>
          <span>RECOMMENDED</span>
        </h1>
      </div>
    </div>
    <div class="row">

      {% for shirt in shirts %}
        <div class="each-shirt-wrapper col-sm-4">
          <div class="each-shirt-inner">
            {% if shirt.is_on_shelf %}
              <div class="flag" style="background-color : #4FD14F; color: white">
                <span>พร้อมขาย</span>
              </div>
              {% else %}
              <div class="flag" style="background-color : #E6B15C; color: white">
                <span>กำลังระดมทุน</span>
              </div>
            {% endif %}
            <div class="shirt-image">
              <div class="inner">
                <img class="shirt-template" src="{% static 'img/shirt_template.png' %}">
                <div class="filler-wrapper">
                  <img class="filler" src="{% static 'shirts/' %}{{shirt.id}}.{{shirt.file_url}}">
                </div>
              </div>
            </div>

            <div class="content">
              <h4 class="title">
                <span class="nl">{{shirt.name}}</span>
              </h4>
              <p class="description">
                {{shirt.description}}
              </p>
              <div class="status row">

                {% if shirt.is_on_shelf %}
                  <div class="price col-xs-12">
                    <i class="glyphicon glyphicon-bitcoin"></i>
                    <span>{{shirt.price}}</span>
                  </div>
                  {# just for placeholding #}
                  <div class="calendar col-xs-12" style="visibility: hidden;">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span>&nbsp;</span>
                  </div>
                {% else %}
                  <div class="people col-xs-6">
                    <i class="glyphicon glyphicon-user"></i>
                    {% if shirt.current_amount == None %}
                      <span>0/{{shirt.waiting_id.require_amount}}</span>
                    {% else %}
                      <span>{{shirt.current_amount}}/{{shirt.waiting_id.require_amount}}</span>
                    {% endif %}
                  </div>
                  <div class="price col-xs-6">
                    <i class="glyphicon glyphicon-bitcoin"></i>
                    <span>{{shirt.price}}</span>
                  </div>
                  <div class="calendar col-xs-12">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span>{{shirt.waiting_id.require_date}}</span>
                  </div>
                {% endif %}

              </div>
            </div>

            <div class="action">
              {% if shirt.is_on_shelf %}
                <a href="/buy/{{shirt.id}}">
                  <button class="btn-primary btn">
                    เข้าชม
                  </button>
                </a>
              {% else %}
                <a href="/join/{{shirt.id}}">
                  <button class="btn-primary btn">
                    เข้าชม
                  </button>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    </div>
</div>

{% include "template.foot.html" %}
