{% load staticfiles %}
{% include "template.head.html" %}
{% include "template.nav.html" %}
{% include "template.search.html" %}

<div id="join-wrapper" class="container boxContent animated fadeIn" id="join">
	<div class="row" id="shirtPreview">
		<div class="col-md-6">

			<div class="shirt-image">
        <div class="inner">
          <img class="shirt-template" src="{% static 'img/shirt_template.png' %}">
          <div class="filler-wrapper">
            <img class="filler" src="{% static 'shirts/' %}{{shirt.id}}.{{shirt.file_url}}">
          </div>
        </div>
      </div>

		</div>
		<div class="col-md-6 info">
			<form method='GET' action="/like_join/{{shirt.id}}/">
			<h3>{{shirt.name}}
			{% if not is_like%}
				<button name="like"  id="toUnlike" class="btnLike round btn btn-grey"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like</button>
			{% else %}
				<button name="like"  id="toLike" class="btnLike round btn btn-grey"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Unlike</button>
			{% endif %}
			</h3> </form>
			<p class="italic" id="designer">by {{shirt.owner_id.username}}
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{shirt.like_count}}
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{shirt.size_of_comment}}
			</p>
			<p id="expDate" class="italic">Timer ended at : {{shirt.waiting_id.require_date}}</p>
			<p>{{shirt.description}}</p>
			<div id="dayLeftDiv">
				<span id="numberh1"> {{shirt.left}}</span><span id="numberh2">/{{shirt.created}}</span>
				<span>days</span>
			</div>
			<div class="progress">
			{% if ratio_date >= 0.7 %}
			  	<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{shirt.percent_left}}%;">
			  	</div>
			{% elif ratio_date >= 0.4 %}
			  	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{shirt.percent_left}}%;">
			  	</div>
			{% else %}
			  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{shirt.percent_left}}%;">
			  	</div>
			{% endif %}
			</div>
			<div id="userJoinedDiv">
				<span id="numberh1">{{shirt.current_amount}}</span><span id="numberh2">/{{shirt.waiting_id.require_amount}}</span>
				<span>people</span>
			</div>

			<div class="progress">
			{% if ratio >= 0.7 %}
			  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{shirt.people_left}}%;">
			  	</div>
			{% elif ratio >= 0.4 %}
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{shirt.people_left}}%;">
				</div>
			{% else %}
				<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{shirt.people_left}}%;">
				</div>
			{% endif %}
			</div>
			<div class="row textRight centerOnSmall" id="priceView">
				<!-- <div class="col-xs-6"> -->
					<span id="eachNum">
						${{shirt.price}}</span>
					<span id="eachUnit">
						each
					</span>
				<!-- </div> -->
				
			</div>
			<div class="row textRight centerOnSmall">
				<form method="get" action="/payment/{{shirt.id}}">
					<div class="row" id="inputAmount">
						S <input name="sAmount" placeholder="0">
						M <input name="mAmount" placeholder="0">
						L <input name="lAmount" placeholder="0">
						XL <input name="xlAmount" placeholder="0">

					</div>
					<div class="row" id="btnAmount">
						<div class="col-md-6">
							<button href="/catalog/" class="btn round btn-grey btn-bigpad fontBold fontBlack hvr-shadow" id="btnBack">
								BACK
							</button>
						</div>
						<div class="col-md-6">
							<button class="btn round btn-green btn-bigpad fontBold fontWhite hvr-shadow" id="btnJoin">
								JOIN
							</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<div class="row" id="commentDiv">
		<form id="commentForm" method="POST" action="/comment_join/{{shirt.id}}/">{% csrf_token %}
			<textarea placeholder="write your comment here ..." type="text" id="txtComment" name="comment_text"></textarea>

			<button type="submit" class="btn btnWhite" id="btnSubmit">submit</button>
		</form>

		{% for cmt in shirt.comment_list %}
		<div class="container" id="commentView">
			<div class="row card">
				<p class="userComment">{{cmt.user_id}}</p>
				<p class="txtComment">{{cmt.comment}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% include "template.foot.html" %}
