{% load staticfiles %}
{% include "template.head.html" %}
{% include "template.nav.html" %}
{% include "template.search.html" %}

<div class="container boxContent" id="join">
	<div class="row" id="shirtPreview">
		<div class="col-md-6">
			<img src="{% static 'img/shirt.png' %}">
		</div>
		<div class="col-md-6 info">
			<h3>{{shirt.name}}</h3>
			<p class="italic" id="designer">by {{shirt.owned_id.first_name}}
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{shirt.like_count}}
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{shirt.size_of_comment}} 
			</p>
			<p id="expDate">Timer ended at : </p>
			<div id="dayLeftDiv">
				<span id="numberh1"> {{shirt.left}}</span><span id="numberh2">/{{shirt.created}}</span>
				<span>days</span>
			</div>
			<div class="progress">
			  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{shirt.percent_left}}%;">
			  	</div>
			</div>
			<div id="userJoinedDiv">
				<span id="numberh1">{{shirt.current_amount}}</span><span id="numberh2">/{{shirt.waiting_id.require_amount}}</span>
				<span>people</span>
			</div>
			<div class="progress">
			  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{shirt.people_left}}%;">
			  	</div>
			</div>
			<div class="row textRight centerOnSmall" id="priceView">
				<div class="col-xs-6">
					<span id="eachNum">
						$3.27</span>
					<span id="eachUnit">
						each
					</span>
				</div>
				<div class="col-xs-6">
					<span id="priceNum">
						$0</span>
					<span id="priceUnit">
						total
					</span>
				</div>
			</div>
			<div class="row textRight centerOnSmall">
				<form method="get" action="/payment/{{shirt.id}}">
					<div class="row" id="inputAmount">
						S <input name="sAmount">
						M <input name="mAmount">
						L <input name="lAmount">
						XL <input name="xlAmount">

					</div>
					<div class="row" id="btnAmount">
						<div class="col-md-6">
							<button href="/catalog/" class="btn round btn-grey btn-bigpad fontBold fontBlack hvr-shadow" id="btnBack">
								BACK
							</button>
						</div>
						<div class="col-md-6">
							<button class="btn round btn-green btn-bigpad fontBold fontWhite hvr-shadow" id="btnJoin">
								JOIN
							</button>
						</div>
					</div>

				</form>
			</div>
			<div class="row" id="commentDiv">

		</div>
	</div>
		<form method='GET' action="/like_join/{{shirt.id}}/">
			<button name="like" style="padding: 20px">like</button>
		</form>
		<form id="commentForm" method="POST" action="/comment_join/{{shirt.id}}/">{% csrf_token %}
			<textarea placeholder="write your comment here ..." type="text" id="txtComment" name="comment_text"></textarea>
			
			<button type="submit" class="btn btnWhite" id="btnSubmit">submit</button>
		</form>

		{% for cmt in shirt.comment_list %}
		<div class="container" id="commentView">
			<div class="row card">
				<p class="userComment">{{cmt.user_id}}</h2>
				<p class="txtComment">{{cmt.comment}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% include "template.foot.html" %}
