{% load staticfiles %}
{% include "template.head.html" %}
{% include "template.nav.html" %}
{% include "template.search.html" %}

<div id="status-in-progress-wrapper">
	<div class="container boxContent animated fadeIn">
		<h1>ORDER STATUS</h1>
		<div class="row textcenter" id="menu-status">
			<a href="/status/waiting" class="btn menuStatus" id="menuStatusL">WAITING ({{join_len}})</a><a href="/status/in-progress" class="btn menuStatus active" id="menuStatusM">IN PROGRESS ({{noti_inpro}})</a><a href="/status/purchase-history" class="btn menuStatus " id="menuStatusR">PURCHASE HISTORY ({{noti_purhis}})</a>
		</div>
		<div style="height: 20px"></div>
		<div class="orders-wrapper">
		{% for key,order in shirt_amount.items %}
			<div class="each-order-wrapper row">
				<div class="about col-sm-6">
					<dl>
						<dt>Buying date</dt>
						<dd>
							<p class="date">{{order.info.time}}</p>
						</dd>

						<dt>Address</dt>
						<dd>
							<address>
                {{order.info.address}}
              </address>
						</dd>

						<dt>Total</dt>
						<dd>
							<span class="total-cost">{{order.info.total}} Baht</span>
						</dd>
					</dl>
				</div>
				
				<div class="shirts col-sm-6">
					<div class="row">
						{% for key,shirt in order.items %}
						{% if not key == "info" %}
							<div class="col-sm-3 shirtImgDiv">
								<div class="shirt-image">
					        <div class="inner">
					          <img class="shirt-template" src="{% static 'img/shirt_template.png' %}">
					          <div class="filler-wrapper">
					            <img class="filler" src="{% static 'shirts/' %}{{shirt.sh_id}}.{{shirt.file_url}}">
					          </div>
					        </div>
					      </div>
					      <div class="shirt-description">
					      	<h5>{{shirt.name}}</h5>
					      	<p>
					      		<span class="title">S</span><span class="amount">{{shirt.s}}</span>
					      		<span class="title">M</span><span class="amount">{{shirt.m}}</span>
					      		<span class="title">L</span><span class="amount">{{shirt.l}}</span>
					      		<span class="title">XL</span><span class="amount">{{shirt.xl}}</span>
					      	</p>
					      </div>
							</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
				
			</div>
		{% endfor %}
		{% if noti_inpro == 0 %}
		<span class="textcenter"><h1>Nothing is in progress. Maybe it's done :)</h1></span>
		{% endif %}

		</div>
	</div>
</div>

<!--
<div id="status-in-progress-wrapper" class="container boxContent animated fadeIn" id="status-waiting">
	<h1>ORDER STATUS</h1>
	<div class="row textcenter" id="menu-status">
		<a href="/status/waiting" class="btn menuStatus" id="menuStatusL">WAITING ({{join_len}})</a><a href="/status/in-progress" class="btn menuStatus active" id="menuStatusM">IN PROGRESS ({{noti_inpro}})</a><a href="/status/purchase-history" class="btn menuStatus" id="menuStatusR">PURCHASE HISTORY ({{noti_purhis}})</a>
	</div>
	{% for key, order in shirt_amount.items %}
	<div class="shirtViewOrderStatus">
		{% for key, sh in order.items %}
		<div class="row shirtItemOrderStatus">
			<div class="col-sm-3 shirtImgDiv">

				<div class="shirt-image">
	        <div class="inner">
	          <img class="shirt-template" src="{% static 'img/shirt_template.png' %}">
	          <div class="filler-wrapper">
	            <img class="filler" src="{% static 'shirts/' %}{{shirt.id}}.{{shirt.file_url}}">
	          </div>
	        </div>
	      </div>

			</div>
			<div class="col-sm-9 shirtInfoDiv">
				<div class="row">
					<p class="fontBold noMarBot">{{sh.name}}</p>
					<p class="italic noMarBot" id="designer">by {{sh.creator}}</p>
					<p class="noMarBot limitLine">{{sh.des}}</p>
				</div>


				<div class="row shirtStatusDiv">
					<div class="col-sm-6 peopleStatusDiv centerOnSmall">
						<span class="peopleStatus">{{ sh.p_per_des }}</span><span> Baht</span>
					</div>
				</div>
				<div class="row italic">
					<p>Amount : S{{sh.s}}, M{{sh.m}}, L{{sh.l}}, XL{{sh.xl}}</p>
				</div>
			</div>
		</div>
		{% endfor %}
		Total per order : {{order.total_per_order}}
		
	</div>
	{% endfor %}
	{% if noti_inpro == 0 %}
		<span class="textcenter"><h1>Nothing is in progress. Maybe it's done :)</h1></span>
		{% endif %}
</div>
!-->
{% include "template.foot.html" %}
