{% load staticfiles %}
{% include "template.head.html" %}
{% include "template.nav.html" %}
{% include "template.search.html" %}

<div id="status-purchase-history-wrapper" class="container boxContent animated fadeIn">
	<h1>ORDER STATUS</h1>
	<div class="row textcenter" id="menu-status">
		<a href="/status/waiting" class="btn menuStatus" id="menuStatusL">WAITING ({{join_len}})</a><a href="/status/in-progress" class="btn menuStatus" id="menuStatusM">IN PROGRESS ({{noti_inpro}})</a><a href="/status/purchase-history" class="btn menuStatus active" id="menuStatusR">PURCHASE HISTORY ({{noti_purhis}})</a>
	</div>
	<div class="shirtViewOrderStatus">
		{% for sh in shirt_amount %}
		<div class="row shirtItemOrderStatus">
			<div class="col-sm-3 shirtImgDiv">

				<div class="shirt-image">
	        <div class="inner">
	          <img class="shirt-template" src="{% static 'img/shirt_template.png' %}">
	          <div class="filler-wrapper">
	            <img class="filler" src="{% static 'shirts/' %}{{shirt.id}}.{{shirt.file_url}}">
	          </div>
	        </div>
	      </div>

			</div>

			<div class="col-sm-9 shirtInfoDiv">
				<div class="row">
					<p class="fontBold noMarBot">{{sh.0}}</p>
					<p class="italic noMarBot" id="designer">by {{sh.5}}</p>
					<p class="noMarBot limitLine">{{sh.6}}</p>
				</div>


				<div class="row shirtStatusDiv">
					<div class="col-sm-6 peopleStatusDiv centerOnSmall">
						<span class="peopleStatus">{{ sh.7 }}</span><span> Baht</span>
					</div>
				</div>
				<div class="row italic">
					<p>Ship date : {{sh.9}}</p>
					<p>Amount : S{{sh.1}}, M{{sh.2}}, L{{sh.3}}, XL{{sh.4}}</p>
				</div>
			</div>
		</div>
		{% endfor %}
		{% if noti_purhis == 0 %}
		<span class="textcenter"><h1>Seems like you havn't purchased anything :(</h1></span>
		{% endif %}
	</div>

</div>

{% include "template.foot.html" %}
