{% load staticfiles %}
<div class="brandbardiv">
    <div class="container" id="logo_l">
      <div class="row">
        <img src="{% static 'img/logo_alt.png' %}">
      </div>
    </div>
    <div class="container" id="searchDiv">
      <div class="row">
        <form id="search" action="/catalog/">
          <span style="display:table-cell; width:100%">
            <input type="text" placeholder="search for name, description or designer name" class="round noborder searchinput" style="width:100%;" name="search_word" value="{{search_word}}">
          </span>
          <span style="display:table-cell; padding-left: 10px">
            <button type="submit" class="circle noborder searchbtn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </form>
      </div>
    </div>
    <div class="container" id="btnDesignDiv">
      <a href="/design/" class="btn round hvr-float-shadow"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> DESIGN NEW SHIRT</a>
    </div>

  </div>
