{% load staticfiles %}
<div id="topbardiv">
  <a href="/" style="padding: 5px">
    <div id="branddiv">
        <img class="logo hidden-xs" src="{% static 'img/logo.png' %}">
        <img class="logo hidden-sm hidden-xs" src="{% static 'img/slogan.png' %}">
    </div>
  </a>
  <div id="toplinkdiv">
    <a href="/status/waiting" id="order" class="btn round">ORDER STATUS</a>
    <a href="/cart" id="cart" class="btn round">CART</a>
    {# check whether the user is logged in #}
    {% if user.username %}
      <a href="/profile">
        <button id="loginbtn" class="btn round">
          {{user.username}}
        </button>
      </a>
    {% else %}
      <a href="/login">
        <button id="loginbtn" class="btn round">
          เข้าสู่ระบบ
        </button>
      </a>
    {% endif %}
  </div>
</div>

