{% load staticfiles %}
<div id="topbardiv">
    <div id="branddiv">
      <a href="/">
        <img class="logo hidden-xs" src="{% static 'img/logo.png' %}">
        <img class="logo hidden-sm hidden-xs" src="{% static 'img/slogan.png' %}">
      </a>
    </div>
    <div id="toplinkdiv">
      <a href="/status/waiting" id="order" class="btn round">ORDER STATUS</a>
      <a href="/cart" id="cart" class="btn round">CART</a>
      <a href="/profile" id="loginbtn" class="btn round">{{user.username}}</a>
    </div>
  </div>

